import os


DATABASES = {

    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ pg_database }}',
        'USER': '{{ pg_username }}',
        'PASSWORD': '{{ pg_password }}',
        'HOST': '{{ inventory_hostname }}',
        'PORT': '5432',
    },

}


{% if machine == 'dev' %}
DATABASES = {

'default': {
   'ENGINE': 'django.db.backends.sqlite3',
   'NAME': 'ecgps_dev.db',
   'USER': '',
   'PASSWORD': '',
   'HOST': '',
   'PORT': '',
 },
}

DEBUG = True
{% endif %}

#INTERNAL_IPS = ('127.0.0.1',)

REDIS_HOST = '{{ inventory_hostname }}'
MONGO_HOST = '{{ inventory_hostname }}'

EMAIL_PORT = 25
EMAIL_SUBJECT_PREFIX = '[eClinical GPS Dev] '
EMAIL_USE_TLS = True
DEFAULT_FROM_EMAIL = 'ecgps@{{ inventory_hostname }}'
SERVER_EMAIL = 'ecgps@{{ inventory_hostname }}'
EMAIL_HOST = '{{ inventory_hostname }}'
EMAIL_HOST_USER = 'ecgps'
EMAIL_HOST_PASSWORD = ''

EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
EMAIL_FILE_PATH = '/tmp/email-log'

CELERY_RESULT_BACKEND = 'redis'
CELERY_REDIS_HOST = REDIS_HOST
CELERY_REDIS_DB = 5
CELERY_TASK_RESULT_EXPIRES = 20

MAIL_PORT = 25
MAIL_HOST = 'localhost'
MAIL_HOST_USER = 'ecgps@localhost'
MAIL_HOST_PASSWORD = ''

CELERY_SEND_TASK_ERROR_EMAILS = False

{% if machine == 'dev' %}
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
        }
}
{% else %}
CACHES = {
    'default': {
        'BACKEND': 'redis_cache.RedisCache',
        'LOCATION': '{{ inventory_hostname }}:6379',
        'OPTIONS': {
            'DB': 5,
        },
    },
}
{% endif %}

USE_TZ = False

WF_SFTP_PROD_SERVER = '{{ inventory_hostname }}' #'safetrans.wellsfargo.com'
WF_SFTP_LOGIN = ''
WF_SFTP_PASSWORD = ''
WF_FILE_LOCATION = '/tmp/'

SESSION_ENGINE = 'redis_sessions.session'

BROKER_BACKEND = None
BROKER_HOST = None
BROKER_PORT = None
BROKER_USER = None
BROKER_PASSWORD = None
BROKER_VHOST = None
BROKER_URL = "redis://{{ inventory_hostname }}"

STATIC_ROOT = '/usr/share/nginx/www/ecgps'
STATIC_URL = 'http://{{inventory_hostname}}:8001/'

ADMIN_MEDIA_PREFIX = 'http://{{ inventory_hostname }}:8001/admin/'