# Gunicorn server
upstream django {
  server         http://127.0.0.1:9000;
}

server {

    server_name {{ inventory_hostname }};
    client_max_body_size 10m;

    location ~ ^/static/{
        root /usr/share/nginx/www/ecgps;
    }

    location / {
        proxy_pass http://127.0.0.1:9999;
    }

    location = /favicon.ico {
        #empty gif
        return 204;
    }

}
